---
import { Image } from 'astro:assets';

import logo1 from '../assets/logos-menu/logo1.svg';
import logo2 from '../assets/logos-menu/logo2.svg';
import logo3 from '../assets/logos-menu/logo3.svg';
import logo4 from '../assets/logos-menu/logo4.svg';

const menuItems = [
  { logo: logo1, text: 'divErgEntE' },
  { logo: logo2, text: 'proyEctos' },
  { logo: logo3, text: 'crEw' },
  { logo: logo4, text: 'contacto' },
];
---

<nav class="bottom-menu">
    <ul>
      {menuItems.map((item, index) => (
        <li class={`menu-item-wrapper item-${index}`}>
          <a href="#" class="menu-item">
            <div class="icon-container">
              <Image src={item.logo} alt={`Logo ${item.text}`} title={`Logo ${item.text}`} />
            </div>
            <span class="txt-menu">{item.text}</span>
          </a>
        </li>
      ))}
    </ul>
  </nav>

<style>
    .bottom-menu {
        position: fixed;
        bottom: 25px;
        left: 0;
        width: 100%;
        background-color: white;
        border-radius: 15px;
        z-index: 100;
        height:85px;
    }

    .bottom-menu ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        padding: 5px 0;
        margin: 0;
    }

    .menu-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        border-radius: 10px;
        transition: background-color 0.3s ease;
        text-decoration: none;
        color: black;
    }

    .icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: 5px;
        transition: background-color 0.3s ease, transform 0.3s ease; /* Agrega transición para el desplazamiento */
    }

    .menu-item img {
        width: 43px; /* Aumenta el tamaño del icono */
        height: 43px; /* Aumenta el tamaño del icono */
        transition: fill 0.3s ease;
    }

    .menu-item span {
        transition: color 0.3s ease;
        font-family: 'Breymont-bold', sans-serif;
        letter-spacing: 1px;
    }

    .menu-item:hover .icon-container {
        background-color: #00CAD3;
        border: 10px solid white;
        padding: 10px;
        fill: white;
    }
    .menu-item:hover{
        transform: translateY(-40px);
        color: #00CAD3;
    }

    .menu-item:hover img {
        filter: invert(1);

    }

    @media (min-width: 768px) {
        .bottom-menu {
            width: 400px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    @media (max-width: 768px) {
        .bottom-menu{
            bottom: 0px;
            height: 80px;
        }
        .bottom-menu {
            border-radius: 0px;
        }
    }
</style>