---
const teamMembers = [
    {
        duration:0,
        name: 'Javi',
        position: 'ceo',
        imageUrl: './images/team/team_javi.png',
    },
    {
        duration:0,
        name: 'Ana',
        position: 'cfo',
        imageUrl: './images/team/team_ana.png',
    },
    {
        duration:1,
        name: 'Juan',
        position: 'coo',
        imageUrl: './images/team/team_juan.png',
    },
    {
        duration:1,
        name: 'Pierre',
        position: 'grtE. compras',
        imageUrl: './images/team/team_pierre.png',
    },
    {
        duration:2,
        name: 'Richie',
        position: 'dt. producción',
        imageUrl: './images/team/team_richie.png',
    },
    {
        duration:2,
        name: 'Jony',
        position: 'dt. crEATIVO',
        imageUrl: './images/team/team_jony.png',
    },
    {
        duration:2,
        name: 'Mario',
        position: 'web dev / seo',
        imageUrl: './images/team/team_mario.png',
    },
];
---
<section class="crew-section2">
    <div class="crew-grid2">
        <h1 class="titulo">crew</h1>
    </div>
</section>
<section class="crew-section">
    <div class="crew-grid">
        {teamMembers.map((member) => (
            <div class="crew-member">
                <div class={`image-container animate__animated animate__slideInUp animate__delay-${member.duration}s`}>
                    <img src={member.imageUrl} alt={member.name} title={member.name}/>
                    <div class="text-overlay">
                        <h2>{member.name}</h2>
                        <p>{member.position}</p>
                    </div>
                </div>
            </div>
        ))}
    </div>
</section>

<style>

    p{
        margin: 0px;
    }
    .crew-section {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: black;
    }
    .crew-section2 {
        width: 100%;
        height: 140px;
        background-color: black;
    }
    .crew-grid2{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .crew-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        width: 90%;
        max-width: 1200px;
    }

    .crew-member {
        position: relative;
        overflow: hidden;
        width: calc(25% - 20px); /* 4 miembros por fila */
        max-width: 300px;
    }

    .image-container {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 146.29%; /* Relación de aspecto 216:316 */
        overflow: hidden;
    }

    .image-container img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: transform 0.3s ease;
    }

    .text-overlay {
        width: 100%;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .text-overlay h2 {
        margin-bottom: 0px;
        font-family: 'KanedaGothic';
        font-size:4em !important;
        text-transform: uppercase;
        line-height: 4rem;
        filter: blur(0);
    }
    .titulo{
        text-align: center !important;
        color: white;
        font-family: 'KanedaGothic';
        font-size: 5em !important;
        text-transform: uppercase;
        line-height: 1px;
    }

    .text-overlay p {
        font-size: 1em;
        font-family: 'Breymont-light';
        letter-spacing: 2px;
    }

    .crew-member:hover .image-container img {
        transform: scale(1.1);
    }

    .crew-member:hover .text-overlay {
        opacity: 1;
    }

    /* Estilos para dispositivos móviles */
    @media (max-width: 768px) {   
        .crew-section2 {
            height: auto;
            background-color: black;
        }
        .crew-member {
            width: calc(50% - 20px); /* 2 miembros por fila */
        }
    }
</style>